body {
    margin: 0px;
}


/* Definerar layout av meny mha flexbox */
#menuContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    height:40px;
    background-image: linear-gradient(to right, rgb(194, 194, 194), rgb(194, 194, 194) );
  }
  .item {
    display: flex ;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    cursor: pointer;
    vertical-align: middle;
    width: 240px;
    height:100%;
    font-size: x-large;
    margin: 0px;
    color:rgb(71, 71, 71);
   /* border: 2px solid rgb(36, 4, 4);
    background-color: rgb(78, 7, 7); */
  }
  
  /* Klass som förstorar text i menyn när muspekaren är över*/
  .item:hover {
    font-size: xx-large;
  }
  
  .itemHoover {
    font-size: xx-large;
  }
  
  .item > img {
  padding:2px;
  height:90%;
  }

  #canvas {
      width: 100%;
      position: absolute;
      top:40px;
      left:0px;
  }


  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

html { 
  background: url(../images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#soundControl {
  position: absolute;
  bottom:0;
  right:0px
}
